/**
 * BASE
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  background: #f6f6ef;
}

main, footer {
  font-size: 0.8em;
}

a {
  color: inherit;
}

.ds-button {
  color: white;
  background: #ff6600;
  border-radius: 0;
}

.ds-button:hover {
  background-color: black;
}

/**
 * HEADER
 */

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}

header .pure-menu {
  height: 40px;
  padding: 0.3em;
  background: #ff6600;
}

header .pure-menu-heading {
  padding: 0.3em;
  color: white;
  border: 2px solid white;
}

header .menu-title {
  display: inline;
  margin-left: 5px;
  color: black;
  font-size: 1em;
  cursor: default;
}

/**
 * CONTENT
 */

main {
  display: flex;
}

.content {
  width: 100%;
  padding: 40px 20px;
}

/**
 * FOOTER
 */

footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 10px;
  background: #f6f6ef;
  border-top: 2px solid #ff6600;
  text-align: center;
}

/**
 * HOME PAGE
 */

.content.home-page {
  margin: auto;
  text-align: center;
}

.home-page .description,
.home-page .buttons {
  margin: auto;
}

.home-page .buttons {
  margin-top: 20px;
}

.home-page .buttons .ds-button {
  width: 180px;
  margin: 20px;
  font-size: 1.2em;
}

/**
 * FORM PAGE
 */

.content.form-page {
  margin: auto;
}

.form-page sup {
  color: #db4437;
  font-size: 1.1em;
  vertical-align: bottom;
}

.form-page .ds-button {
  display: block;
  width: 180px;
  margin: 20px auto !important;
  font-size: 1.2em;
}

.form-page .ds-button:disabled {
  color: #ccc;
  cursor: default;
}

.form-page .error {
  color: #db4437;
}

.form-page .error-container {
  height: 1em;
}


/* Customization to limit height of the menu */
.form-page .search-cities {
    margin: 10px 0;
    max-height: 160px;
}

.loading-cover {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  z-index: 100;
  background: #f6f6ef;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 40px;
  padding-top: 40px;
}

.form-page .loading-cover {
  width: calc(100% - 40px);
  height: calc(100% - 180px);
}

/**
 * MEDIA QUERIES
 */

/* xs */
@media (min-width: 30em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  main, footer {
    font-size: 1em;
  }

  .content.form-page {
    text-align: center;
  }

  .content.vis-page {
    height: calc(100% - 80px);
  }

  .form-page .loading-cover {
    padding-top: 0;
    align-items: center;
  }
}

/* sm */
@media (min-width: 35.5em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  .form-page .loading-cover {
    padding-top: 0;
    align-items: center;
  }
}

/* md */
@media (min-width: 48em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  .pure-form .pure-input-md-1-3 {
    width: 33% !important;
  }

  .form-page .loading-cover {
    padding-top: 0;
    align-items: center;
  }
}

/* lg */
@media (min-width: 64em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  .pure-form .pure-input-md-1-3 {
    width: 33% !important;
  }

  .form-page .loading-cover {
    padding-top: 0;
    align-items: center;
  }
}

/* xl */
@media (min-width: 80em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  .pure-form .pure-input-md-1-3 {
    width: 33% !important;
  }

  .form-page .loading-cover {
    padding-top: 0;
    align-items: center;
  }
}
