/**
 * BASE
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  font-size: 0.8em;
  background: #f6f6ef;
}

a {
  color: inherit;
}

.ds-button {
  color: white;
  background: #ff6600;
  border-radius: 0;
}

.ds-button:hover {
  background-color: black;
}

/**
 * HEADER
 */

header {
  position: absolute;
  width: 100%;
  top: 0;
}

header .pure-menu {
  height: 40px;
  padding: 0.3em;
  background: #ff6600;
}

header .pure-menu-heading {
  padding: 0.3em;
  color: white;
  border: 2px solid white;
}

header .menu-title {
  display: inline;
  margin-left: 5px;
  color: black;
  font-size: 1em;
  cursor: default;
}

/**
 * CONTENT
 */

main {
  display: flex;
}

.content {
  width: 100%;
  padding: 45px 20px;
}

/**
 * FOOTER
 */

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 10px;
  background: #f6f6ef;
  border-top: 2px solid #ff6600;
  text-align: center;
}

/**
 * HOME PAGE
 */

.content.home-page {
  margin: auto;
  text-align: center;
}

.home-page .description,
.home-page .buttons {
  margin: auto;
}

.home-page .buttons {
  margin-top: 20px;
}

.home-page .buttons .ds-button {
  width: 180px;
  margin: 20px;
  font-size: 1.2em;
}

/**
 * FORM PAGE
 */

.content.form-page {
  margin: auto;
}

.form-page .ds-button {
  display: block;
  width: 180px;
  margin: 20px auto !important;
  font-size: 1.2em;
}

/**
 * MEDIA QUERIES
 */

/* xs */
@media (min-width: 30em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  body {
    font-size: 1em;
  }

  .content.form-page {
    text-align: center;
  }
}

/* sm */
@media (min-width: 35.5em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }
}

/* md */
@media (min-width: 48em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  .pure-form .pure-input-md-1-3 {
    width: 33% !important;
  }
}

/* lg */
@media (min-width: 64em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  .pure-form .pure-input-md-1-3 {
    width: 33% !important;
  }
}

/* xl */
@media (min-width: 80em) {
  .pure-form .pure-input-xs-1-2 {
    width: 50% !important;
  }

  .pure-form .pure-input-md-1-3 {
    width: 33% !important;
  }
}

/**
 * VIS PAGE
 */

.vis-page {
  padding: 0;
  margin: 0;
}

.selected {
  fill: #D1CCF3;
}

.boundary {
  fill: #fff;
  stroke: #999;
  stroke-width: 0.5px; 
}

path:not(.selected):hover {
  fill: #F5EAAD;
}

.hidden {
  display: none;
}

div.tooltip {
  font-size: 12px;
  color: #333; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #aaa; 
  padding: 2px 3px; 
  opacity: 0.95; 
  position: absolute;
}
