/**
 * BASE
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100vw;
  height: 100vh;
}

body {
  color: #333;
  font-size: 0.8em;
}

a {
  color: inherit;
}

.ds-button {
  color: white;
  background: #ff6600;
  border-radius: 0;
}

.ds-button:hover {
  background-color: black;
}

/**
 * HEADER
 */

header .pure-menu {
  padding: 0.3em;
  background: #ff6600;
}

header .pure-menu-heading {
  padding: 0.3em;
  color: white;
  border: 2px solid white;
}

header .menu-title {
  display: inline;
  margin-left: 5px;
  color: black;
  font-size: 1em;
  cursor: default;
}

/**
 * CONTENT
 */

main {
  display: flex;
  background: #f6f6ef;
}

.content {
  width: 100%;
  padding: 45px 20px;
}

/**
 * FOOTER
 */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #f6f6ef;
  border-top: 2px solid #ff6600;
  text-align: center;
}

/**
 * HOME PAGE
 */

.content.home-page {
  margin: auto;
  text-align: center;
}

.home-page .description,
.home-page .buttons {
  margin: auto;
}

.home-page .buttons {
  margin-top: 20px;
}

.home-page .buttons .ds-button {
  width: 180px;
  margin: 20px;
  font-size: 1.2em;
}

/**
 * FORM PAGE
 */

.content.form-page {
  margin: auto;
  text-align: center;
}

.form-page .ds-button {
  width: 180px;
  margin: 20px;
  font-size: 1.2em;
}

/**
 * MEDIA QUERIES
 */

@media (min-width: 35.5em) {
  body {
    font-size: 1em;
  }
}
