/**
 * VIS PAGE
 */

.vis-page {
  padding: 0;
  margin: 40px 0;
  display: flex;
  font-size: 14px;
}

.vis-page #map {
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 50%;
}

.vis-data #map svg {
  fill: none;
  pointer-events: all;
}

.vis-page #data {
  width: 34em;
  overflow: auto;
  padding: 20px 16px 60px;
  background: #f6f6ef;
}

header .download-link {
  float: right;
  text-decoration: none;
  line-height: 30px;
  color: black;
}

/* map graph styles */

.vis-world {
  fill: #f5eaad;
  stroke: #999;
  stroke-width: 0.5px;
}

.vis-country.__disabled {
  fill: #f6f6f2 !important;
  cursor: default;
}

.vis-country.__selected,
.vis-country:hover {
  fill: #d1ccf3;
  cursor: default;
}

.vis-tooltip {
  font-size: 12px;
  color: #333;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #aaa;
  padding: 2px 3px;
  opacity: 0.95;
  position: absolute;
}

.vis-tooltip.__hidden {
  display: none;
}

.vis-city {
  fill: #333;
  opacity: 0.6;
  cursor: default;
}

.vis-city.__selected,
.vis-city:hover {
  fill: #ff6600;
  opacity: 1;
}

/* data panel styles */

.vis-title {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  min-width: 27em;
}

.vis-location {
  font-size: 1.35em;
}

.vis-notice {
  color: #999;
  font-size: 12px;
  font-weight: lighter;
  margin-left: 20px;
  display: inline-block;
}

.vis-notice .fa-asterisk {
  color: #aaa;
  font-size: 10px;
}

.vis-people {
  margin: 10px 0;
}

.vis-people .fa {
  padding-right: 3px;
}

.vis-people span:not(:first-child) {
  padding-left: 10px;
}

.vis-lists {
  margin-bottom: 20px;
}

.vis-list {
  margin-bottom: 5px;
}

.vis-list .__margin {
  margin-right: 8px;
}

.vis-list .__bordered {
  border-bottom: 1px solid #666;
}

.vis-show-all {
  font-size: 12px;
  color: #428bca;
  border-bottom: 1px dotted;
  cursor: pointer;
  display: inline-block;
}

.vis-salary-charts {
  margin-bottom: 20px;
}

.vis-salary {
  display: flex;
  width: 420px;
  align-items: center;
}

.vis-salary.__shift {
  margin-top: 5px;
}

.vis-salary span {
  width: 90px;
  margin-right: 5px;
}

.vis-years-charts {
  font-size: 12px;
  display: flex;
}

.vis-years-charts .__shift {
  margin-left: 10px;
  margin-top: 14px;
}

.vis-years-x-title {
  text-align: right;
}

.vis-years-y-title {
  margin-left: 35px;
}

/**
 * MEDIA QUERIES
 */

/* sm */
@media (min-width: 35.5em) {
  .vis-page #map {
    margin: 0 20px;
    width: calc(100% - 40px);
    height: 50%;
  }

  .vis-page .loading-cover {
    padding-top: 0;
    align-items: center;
  }
}

 /* md */
@media (min-width: 48em) {
  .vis-page #map {
    margin: 0 20px;
    width: calc(100% - 40px);
    height: 50%;
  }
}

/* lg, xl */
@media (min-width: 64em) {
  .vis-page #map {
    margin: 0;
    width: calc(100% - 34em);
    height: 100%;
  }

  .vis-page #data {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;
    height: calc(100% - 40px);
    -webkit-box-shadow: 4px 2px 10px 8px #999;
    -moz-box-shadow: 4px 2px 10px 8px #999;
    box-shadow: 4px 2px 10px 8px #999;
  }
}
