/**
 * VIS PAGE
 */

.vis-page {
  padding: 0;
  font-size: 14px;
}

/* TODO: Remove margin and set width to 100%
   when touch events are properly handled.
   (check media queries too) */
.vis-page #map {
  position: relative;
  margin: 0 20px;
  width: calc(100% - 40px);
  height: calc(50vh - 100px);
}

.vis-data #map svg {
  fill: none;
  pointer-events: all;
}

.vis-page #vis-map-hint {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 3px;
  letter-spacing: 0.5px;
  font-size: 16px;
  pointer-events: none;
  color: #666;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 700ms, visibility 700ms;
  transition: opacity 700ms, visibility 700ms;
}

.vis-page #vis-map-hint.__hidden {
  opacity: 0;
  visibility: hidden;
}

.vis-page #data {
  position: relative;
  width: 40em;
  overflow: auto;
  padding: 25px 16px 20px 16px;
  background: #f6f6ef;
}

.vis-page #data svg {
  pointer-events: all;
}

header .download-link {
  float: right;
  margin-right: 10px;
  text-decoration: none;
  line-height: 30px;
  color: black;
}

header .download-text {
  display: none;
}

/**
 * MAP GRAPH
 */

.vis-world {
  fill: #f5eaad;
  stroke: #999;
  stroke-width: 0.5px;
}

.vis-country.__disabled {
  fill: #f6f6f2 !important;
  cursor: default;
}

.vis-country.__selected,
.vis-country:hover {
  fill: #d1ccf3;
  cursor: default;
}

.vis-tooltip {
  font-size: 12px;
  color: #333;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #aaa;
  padding: 2px 3px;
  opacity: 0.95;
  position: absolute;
}

.vis-tooltip.__hidden {
  display: none;
}

.vis-city {
  fill: #333;
  opacity: 0.6;
  cursor: default;
}

.vis-city.__selected,
.vis-city:hover {
  fill: #ff6600;
  opacity: 1;
}

/**
 * DATA PANEL
 */

.vis-title {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.vis-location {
  margin: 0;
  font-size: 1.8em;
}

.vis-notice {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 16px 0 0;
  font-size: 12px;
  color: #999;
}

.vis-notice .fa-asterisk {
  color: #aaa;
  font-size: 10px;
}

.vis-table-link {
  margin-left: auto;
  cursor: pointer;
}

.vis-table-link .fa-table {
  font-size: 1.8em;
}

.vis-people {
  margin: 20px 0;
}

.vis-people .fa {
  padding-right: 3px;
}

.vis-people span:not(:first-child) {
  padding-left: 10px;
}

.vis-lists {
  margin-bottom: 20px;
}

.vis-list {
  margin-bottom: 10px;
  line-height: 1.3;
}

.vis-list .__margin {
  margin-right: 8px;
}

.vis-list .__bordered {
  border-bottom: 1px solid #666;
}

.vis-link {
  font-size: 12px;
  color: #428bca;
  border-bottom: 1px dotted;
  cursor: pointer;
  display: inline-block;
}

.vis-chart-title {
  margin: 20px 0;
  font-size: 1.4em;
}

.vis-salary-charts {
  margin-bottom: 20px;
}

.vis-salary {
  display: flex;
  align-items: center;
}

.vis-salary .vis-salary-title {
  min-width: 35px;
  margin-right: 5px;
  text-align: right;
  font-size: 0.9em;
}

.vis-years-charts {
  position: relative;
  display: flex;
}

.vis-years-charts .__shift {
  margin-left: 10px;
}

.vis-years-x-title {
  text-align: center;
  margin-left: 40px;
  font-size: 0.9em;
}

.vis-years-y-title {
  margin-left: 8px;
  font-size: 0.9em;
}

.vis-years-charts rect {
  fill: transparent;
  stroke: #333;
}

.vis-years-charts rect:hover {
  fill: #d1ccf3;
}

.vis-years-charts .bar-tooltip {
  position: absolute;
  font-size: 0.9em;
  color: #333;
  background: #f6f6ef;
  min-width: 14px;
  text-align: center;
  pointer-events: none;
}

.vis-years-charts .bar-tooltip.__hidden {
  visibility: hidden;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
   font-size: 12px;
}

.vis-whisker .x-label {
  text-align: center;
  margin-left: 40px;
  font-size: 0.9em;
}

.vis-whisker .y-label {
  margin-left: 8px;
  font-size: 0.9em;
}

.vis-whisker .tooltip-back {
  fill: #f6f6ef;
  stroke: #999;
  opacity: 0.9;
  rx: 3px;
}

.vis-whisker .tooltip {
  font-size: 12px;
}

.vis-whisker .tooltip-text-title,
.vis-whisker .tooltip-text-min,
.vis-whisker .tooltip-text-median,
.vis-whisker .tooltip-text-max {
  font-weight: normal;
}

/**
 * TABLE MODAL
 */

.vis-table-modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: inherit;
  background: #f6f6ef;
}

.vis-table-modal .vis-table-modal-close {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  font-size: 2.5em;
  cursor: pointer;
}

.vis-table-modal .vis-table-modal-search {
  position: absolute;
  margin: 18px 50px;
  left: 0;
}

.vis-table-modal .vis-table-modal-search .fuzzy-search {
  margin: 0;
}

.vis-table-modal .vis-table-wrapper {
  width: calc(100% - 100px);
  height: calc(100% - 110px);
  margin: 70px 50px 30px;
}

/**
 * TABLES
 */

.vis-table-wrapper {
  overflow: auto;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}

.vis-table-wrapper table {
  position: relative;
  width: 100%;
}

.vis-table-wrapper table th {
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 25px;
}

.vis-table-wrapper table sup {
  font-size: 0.7em;
}

.vis-table-wrapper table tfoot {
  display: none;
}

.vis-table-wrapper table tbody tr:hover {
  background: #d1ccf3;
}

.vis-table-wrapper .sort {
  padding-right: 25px !important;
  cursor: pointer;
}

.vis-table-wrapper .sort:after {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 8px;
  align-items: center;
  font-family: 'FontAwesome';
  opacity: 1;
}

.vis-table-wrapper .sort:hover:after {
  content: '\f15d'; /* fa-sort-alpha-asc */
  opacity: 0.5;
}

.vis-table-wrapper .sort.asc:after {
  content: '\f15d'; /* fa-sort-alpha-asc */
  opacity: 1;
}

.vis-table-wrapper .sort.desc:after {
  content: '\f15e'; /* fa-sort-alpha-desc */
  opacity: 1;
}

.vis-table-wrapper thead th .legend {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px 0;
  text-align: center;
  font-size: 0.8em;
}

#data-table {
  font-size: 0.8em;
}

#data-table th {
  font-size: 1.3em;
}

#modal-table th {
  font-size: 1.3em;
}

/**
 * TABLE COLUMNS
 */

#data-table th:nth-child(1) { width: 20%; }
#data-table th:nth-child(2) { width: 20%; }
#data-table th:nth-child(3) { width: 25%; min-width: 100px; }
#data-table th:nth-child(4) { width: 25%; min-width: 100px; }
#data-table th:nth-child(5) { width: 10%; }

#modal-table th:nth-child(1) { width: 20%; }
#modal-table th:nth-child(2) { width: 20%; }
#modal-table th:nth-child(3) { width: 25%; min-width: 160px; }
#modal-table th:nth-child(4) { width: 25%; min-width: 160px; }
#modal-table th:nth-child(5) { width: 10%; }

/**
 * MEDIA QUERIES
 */

/* sm */
@media (min-width: 35.5em) {
  header .download-text {
    display: initial;
  }
}

 /* md */
@media (min-width: 48em) {
}

/* lg, xl */
@media (min-width: 64em) {
  .vis-page #map {
    margin: 0;
    width: calc(100% - 40em);
    height: calc(100vh - 100px);
  }

  .vis-page #data {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    -webkit-box-shadow: 4px 2px 10px 8px #999;
    -moz-box-shadow: 4px 2px 10px 8px #999;
    box-shadow: 4px 2px 10px 8px #999;
  }
}
